* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background: #fcca46;
}
.heading h1 {
  text-align: center;
  margin: 30px 0;
  color: #120943;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 360px;
  position: relative;
}
.button {
  background: #fff;
  color: #ffffff;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 10px;
  font-size: 70px;
}
#winner {
  font-size: 40px;
  margin: 20px 0;
  color: rgb(255, 0, 98);
}
#restart {
  border: none;
  background: red;
  color: #fff;
  padding: 8px 30px;
  border-radius: 6px;
  margin: 30px 0;
  font-weight: bold;
  cursor: pointer;
  font-size: large;
}

#turn {
  margin: 20px 0;
  font-size: 2rem;
  color: rgb(210, 6, 251);
}
.container::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -1px;
  width: 100%;
  height: 10px;
  background: rgb(255, 132, 0);
  border-radius: 20px;
  display: var(--display, none);
}
.container.one:before {
  top: 43px;
  display: block;
}
.container.two:before {
  top: 160px;
  display: block;
}
.container.three:before {
  top: 275px;
  display: block;
}
.container.four:before {
  top: 158px;
  left: -115px;
  transform: rotate(90deg);
  display: block;
}
.container.five:before {
  top: 158px;
  left: -2px;
  transform: rotate(90deg);
  display: block;
}
.container.six:before {
  top: 158px;
  left: 115px;
  transform: rotate(90deg);
  display: block;
}
.container.seven:before {
  top: 160px;
  left: -1px;
  transform: rotate(225deg);
  display: block;
}
.container.eight:before {
  top: 159px;
  left: -1px;
  transform: rotate(315deg);
  display: block;
}
