* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  background: #fcca46;
}
.heading h1 {
  text-align: center;
  margin: 30px 0;
  color: #120943;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 360px;
}
.button {
  background: #252422;
  color: #ffffff;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 10px;
  font-size: 70px;
}
#winner {
  font-size: 40px;
  margin: 20px 0;
  color: rgb(255, 0, 98);
}
#restart {
  border: none;
  background: rgb(26, 250, 82);
  color: #000;
  padding: 8px 30px;
  border-radius: 6px;
  margin: 30px 0;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#restart:hover {
  background: red;
}
#turn {
  margin: 20px 0;
  font-size: 2rem;
  color: rgb(210, 6, 251);
}
